#pie {
    width: 150px;
}

body {
    background: url("silverware.jpg");
}

h2 {
    background-color: gainsboro;
    color: rgba(164, 171, 46, 1);
    font-variant: small-caps;
    /* background-size: 0% */
}

ul li {
    list-style-image: url("pie_bullet.png");
}

blockquote {
    text-overflow: clip;
    background-color: rgb(255, 255, 168);
    /* font-family: 'Courier New', Courier, monospace; */
    color: black;
    margin-left: 5ch;
    font-style: italic
}

body {
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
    /* padding: 100px; */
}

a {
    color: #A4A400;
}

p.cr {
    text-align: right;
    display: block;
    font-family: monospace;
}

span.cr {}

.divcr {
    float: left;
}

.divValid {
    display: block;
    float: left;
}

#links {
    display: inline;
}

.bottomlinks {
    display: block;
}

.newLine {
    display: block;
}